@model Animax.Models.Comentario

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir</h2>

<div class="alert alert-danger" role="alert">

    Tem certeza de que deseja excluir o comentário?
</div>

   
    
    <form asp-action="Excluir">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Voltar a listagem</a>
    </form>

